In [47]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets

In [48]:
# dtype

In [49]:
x = 2

In [50]:
type(x)

int

In [51]:
type(2.3)

float

In [52]:
type('3.4')

str

In [53]:
type('gaurav')

str

In [63]:
x = 2,3

In [64]:
x

(2, 3)

In [65]:
x = [2,3]

In [66]:
x[0]

2

In [67]:
np.array(x)

array([2, 3])

In [68]:
y = [[2,3], [5,6]]

In [69]:
np.array(y)

array([[2, 3],
       [5, 6]])

In [70]:
pd.DataFrame(y)

   0  1
0  2  3
1  5  6

In [71]:
pd.DataFrame(y, columns = ['A', 'B'])

   A  B
0  2  3
1  5  6

In [54]:
d = datasets.load_iris()

In [55]:
X = pd.DataFrame(d.data, columns = d.feature_names)
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [56]:
y = pd.DataFrame(d.target, columns = ['target'])

In [57]:
d.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [58]:
df = pd.concat([X,y], axis =1)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [59]:
d_ = {0: 'setosa', 1: 'versicolor', 2:'virginica'}

In [60]:
df['target_name'] = df['target'].apply(lambda k: d_[k])

In [61]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa